body{
    padding-left: 310px;
}
html{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*nav*/
.nav-side{
    position: fixed;
    left: 0;
    width: 310px;
    background: #0A509F;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 9999;
}

.nav-side::-webkit-scrollbar {
    width:0;
}
.nav-side .logo-box{
    width: 100%;
    height: 140px;
    background-color: #fff;
    background-image: url("/img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-side > ul{
    display: block;
    width: 225px;
    margin: 20px auto;
}
.nav-side > ul > li{
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
    -webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
    transition: opacity 0.15s ease, transform 0.75s ease;
    /*margin: 1.5em 0 0 0;*/
    opacity: 1;
    padding: 0;
    position: relative;
}
.nav-side ul a{
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
    border: 0;
    color: rgba(255, 255, 255, 0.35);
    display: block;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.25em;
    line-height: 1.75;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    padding: 12px 0;
}
.nav-side a:hover{
    color: #fff;
}
.nav-side a::before, .nav-side a::after {
    border-radius: 0.2em;
    bottom: 0;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    width: 100%;
}
.nav-side a::before{
    background: rgba(107, 160, 252, 0.56);
}
.nav-side a::after{
    background-image: -moz-linear-gradient(to right, #7FADFB, #fff);
    background-image: -webkit-linear-gradient(to right,  #7FADFB, #fff);
    background-image: -ms-linear-gradient(to right,  #7FADFB, #fff);
    background-image: linear-gradient(to right,  #7FADFB, #fff);
    -moz-transition: max-width 0.2s ease;
    -webkit-transition: max-width 0.2s ease;
    transition: max-width 0.2s ease;
    max-width: 0;
}
.nav-side a.nav-active{
    color: #fff;
}
.nav-side a.nav-active:after{
    max-width: 100%;
}
.nav-side .nav-btn{
    display: none;
    position: absolute;
    right: 26px;
    top: 12px;;
    color: #fff;
    font-size: 30px;
}
@media all and (max-width:1000px){
    body{
        padding-left: 250px;
    }
    .nav-side{
        width: 250px;
    }
}
@media all and (max-width: 768px){
    body{
        padding-left: 0
    }
    .nav-side{
        width: 100%;
        max-height: 60px;
        overflow: visible;
    }
    .nav-side .logo-box{
        width: 200px;
        height: 60px;
    }
    .nav-side .nav-btn{
        display: block;
    }

    .nav-side > ul{
        display: none;
        position: absolute;
        top: 60px;
        right:0;
        width: calc(100% - 200px);
        margin: 0;
        background: #0b57ac;
        padding-bottom: 20px;
    }
    .nav-side ul a{
        font-size: 16px;
        line-height: 1.5;
        padding: 12px;
    }

}
/*wrap*/
.wrap{
    width: 100%;
    background: #fff;
    /*background: #5056B3;*/
    overflow-x: hidden;
}
.full-page{
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 使用css3的transform来实现 */
}
.v-center,.b-center{
    position: absolute;
    display: block;
}
.lazy{}
.max-full{}

.part{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

/*footer*/
footer{
    width:100%;
    height: 130px ;
    background: #3D3E3F;
}
/*slider*/
.slider-inner{
    width: 100%;
    height: 100%;
    position: relative;
}
.slider-inner .item{
    width: 100%;
    height: 100%;
    float: left;
}

.slider-inner .item1,
.slider-inner .item2,
.slider-inner .item3,
.slider-inner .item4{
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*.slider-inner .item1{*/
/*background-image: url("../images/index/index-banner-1.jpg");*/

/*}*/
/*.slider-inner .item2{*/
/*background-image: url("../images/index/index-banner-2.jpg");*/
/*}*/
.slider .slider-pointer {
    position: absolute;
    bottom: 20px;
    color: #fff;
    list-style: none;
    padding: 0;
    z-index: 9;
}
.slider .slider-pointer li {
    display: inline-block;
    margin: 0 15px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.46);
    opacity: 0.85;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 320ms ease;
    cursor: pointer;
}
.slider .slider-pointer li:hover {
    background-color: rgba(255, 255, 255, 0.77);
}
.slider .slider-pointer li.active {
    background-color: #ffffff;
}
.slider .slider-control{
    display: block;
    position: absolute;
    top: 280px;
    font-size: 110px;
    color: rgba(255, 255, 255, 0);
    transition: 0.5s;
    cursor: pointer;
}
.slider:hover .slider-control{
    color: rgba(255, 255, 255, 0.8);
}

.slider .prev{
    left: 80px;
}
.slider .next{
    right: 80px;
}
.slider.bananer-intro .item>.inner{
    padding: 5em 5em 3em 5em;
}
@media screen and (max-width: 1680px){
    .slider.bananer-intro .item>.inner{
        padding: 4em 4em 2em 4em;
    }
}

