/*banner*/
.part1 .item1{
    min-height: 600px;
    background-image: url("../../img/index/index-banner-1.jpg");
}
.part1 .item2{
    min-height: 600px;
    padding-top: 100px;
    text-align: center;
    background-image: url("../../img/index/index-banner-2.jpg");
}
.part1 .item3{
    min-height: 600px;
    padding-top: 20px;
    text-align: center;
    background-image: url("../../img/index/index-banner-3.jpg");
}
.part1 .item4{
    min-height: 600px;
    text-align: center;
    padding-top: 100px;
    background-image: url("../../img/index/index-banner-4.jpg");
}
.part1 .item5{
    min-height: 600px;
    text-align: center;
    background-image: url("../../img/index/index-banner-5.jpg");
}
.part1 .item6{
    min-height: 600px;
    text-align: center;
    padding-top: 100px;
    background-image: url("../../img/index/index-banner-6.jpg");
}
.part1 .item2 img{
    max-height: 70%;
    margin-left: -120px;
}
.part1 .item3 img{
    max-width: 80%;
}
.part1 .item4 img{
    max-width: 80%;
    margin-left: -220px;
}
.part1 .item5 img{
    max-width: 90%;
    left: 20px;
}
.part1 .item6 img{
    max-width: 90%;
    margin-left: -300px;
}
@media all and (max-width: 500px){
    .part1 .item2 img{
        margin-left: 0;
    }
}
@media all and (max-width: 700px){
    .part1 .item3{
        padding-top: 100px;
    }
}
@media all and (max-width: 600px){
    .part1 .item4 img{
        margin-left:0;
    }
}
@media all and (max-width: 1050px){
    .part1 .item6{
        padding-top: 280px;
    }
    .part1 .item6 img{
        margin-left: 0;
    }
}
.banner-intro{
    color: #fff;
    width: 1000px;
    max-width: 100%;
    padding:0 60px;
}
.banner-intro p{
    text-align: left;
}
.banner-intro p:first-child{
    font-size: 60px;
    font-weight: bold;
}
.banner-intro p:nth-child(2){
    font-size: 18px;
    margin-top: 20px;
}
/*common*/
.part-title{
    text-align: center;
    font-size: 32px;
    color: #2b2b2b;
}
/*part2*/
.part2{
    min-height: 264px;
    background-color:#69B232 ;
    color: #fff;
    padding: 30px 20px;
}
.part2 h2{
    text-align: center;
    font-size: 28px;
}
.part2 p{
    width: 1000px;
    max-width: 90%;
    margin: 30px auto 0;
    font-size: 14px;
    text-align: left;
}
/*com-part*/
.com-part{
    width: 100%;
}
.com-part .row{
    min-height: 390px;
}
.com-part .row>div{
    min-height:inherit ;
}
.com-box{
    min-height: inherit;
    color: #fff;
}
.com-box:first-child,
.com-box:nth-child(3),
.com-box:nth-child(5){
    background-color:#018F3C;
}
.com-box:nth-child(2),
.com-box:nth-child(4),
.com-box:nth-child(6){
    background-color:#69B232;
}
.com-box .v-center{
    padding:0 30px;
    box-sizing: border-box;
}
.com-box h2{
    font-size: 26px;
}
.com-box p{
    font-size: 14px;
    text-align: left;
    margin: 20px 0;
}
.com-box a{
    display: block;
    width: 180px;
    height: 50px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3em;
    text-align: center;
    line-height: 50px;
    font-size: 20px;

}
.com-img{
    height: 100%;
    overflow: hidden;
    padding: 0;
    background-size: cover;
    background-position: center;
}
.com-img-1{
    background-image: url("../../img/index/index-3.jpg");
}
.com-img-2{
    background-image: url("../../img/index/index-4.jpg");
}
.com-img-3{
    background-image: url("../../img/index/index-6.jpg");
}

.com-min-box{
    padding: 0;
}
.com-min-cover{
    width: 100%;
    height: 390px;
    background-color: #69B232;
    color: #fff;
    font-size: 20px;
    line-height: 390px;
    text-align: center;
    display: none;
}
.com-min-box:hover .com-min-cover{
    display: block;
}
.com-min-box.com-min-box-1{
     background-image: url("../../img/index/index-2.jpg");
}
.com-min-box.com-min-box-2{
    background-image: url("../../img/index/index-5.jpg");
}
.com-min-box.com-min-box-3{
    background-image: url("../../img/index/index-8.jpg");
}
@media all and (max-width: 991px){
    .com-part .row{
        min-height: 280px;
    }
    .com-box h2{
        font-size: 22px;
    }
    .com-box p{
        font-size: 12px;
    }
    .com-box a{
        width: 140px;
        height: 40px;
        line-height: 39px;
        font-size: 16px;
    }
}

/*pro-box*/
.pro-box{
    background-color: #fff;
    min-height: 900px;
    padding: 50px 0;
    color: #2b2b2b;
}
/*.pro-box div{*/
    /*padding: 0;*/
/*}*/
.pro-box p{
    max-width: 1100px;
    margin: 20px auto 0;
    padding: 0 15px;
    font-size: 16px;
    line-height: 30px;
}
.pro-box p span{
    margin: 0 14px;
}
.pro-box .pro-img-box{
    max-width: 1200px;
    width: 100%;
    margin: 30px auto 0;
}
.pro-box .pro-img-box .img-box{
    overflow: hidden;
    background-color: #0A509F;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.pro-box .pro-img-box .img-box.height-max{
    height: 380px;
}
.pro-box .pro-img-box .img-box.height-min{
    height: 185px;
}
.pro-box .pro-img-box .img-box .img-txt{
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.72);
    color: #fff;
    padding-left: 15px;
    z-index: 99;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.pro-box .pro-img-box .img-box.height-max .img-txt{
    font-size: 25px;
    bottom: -80px;
    height: 80px;
    line-height: 80px;
}
.pro-box .pro-img-box .img-box.height-min .img-txt{
    font-size: 16px;
    bottom: -50px;
    height: 50px;
    line-height: 50px;
}
.pro-box .pro-img-box .img-box img{
    width: 100%;
    height: 100%;
    z-index: 9;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.pro-box .pro-img-box .img-box img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.pro-box .pro-img-box .img-box:hover .img-txt{
    bottom: 0;
}
@media all and (max-width: 991px){
    .pro-box .pro-img-box .img-box.height-max,
    .pro-box .pro-img-box .img-box.height-min {
        height: 250px;
    }
    .pro-box .pro-img-box .img-box.height-max .img-txt,
    .pro-box .pro-img-box .img-box.height-min .img-txt{
        font-size: 20px;
        height: 60px;
        line-height: 60px;
        bottom: -60px;
    }
    .pro-box .pro-img-box .img-box:hover .img-txt{
        bottom: 0;
    }
}
/*contact part*/
.part-contact{
    margin: 20px auto;
    max-width: 1200px;

}
.part-contact .contact-box{
    margin: 20px auto;
}
.contact-box .contact-map-box,
.contact-box .contact-input-box{
    min-height: 478px;
}
.contact-box .contact-map-box{
    background: #e8ae46;
}
.contact-box .contact-input-box{
    background: #fff;
}
.contact-input-box h3{
    font-size: 22px;
    margin-top: 20px;
}
.contact-input-box p{
    font-size: 16px;
    margin-top: 20px;
    text-align: left;
}
.contact-input-box .row{
    margin-top: 50px;
}
.contact-input-box input,
.contact-input-box textarea{
    background: #F5F5F7;
    border: none;
    box-shadow: none;
    outline: none;
}
.contact-input-box input{
    float: left;
    height: 45px;
    width: 48%;
}
.contact-input-box input:nth-child(2){
    float: right;
}
.contact-input-box input:nth-child(3){
    width: 100%;
    margin-top: 15px;
}
.contact-input-box textarea{
    margin-top: 15px;
    float: left;
}
.contact-input-box button{
    width: 160px;
    height: 50px;
    font-size: 16px;
    border-radius: 0.35em;
    border: solid 3px #efefef;
    color: #787878 !important;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    transition: 0.3s;
}
.contact-input-box button:hover{
    background-color: #efefef;
}
.contact-address-box{
    margin-top: 25px;
    color: #787878;
}
.contact-address-box li{
    position: relative;
    padding-left: 30px;
}
.contact-address-box li:nth-child(2){
    margin-top: 40px;
}
.contact-address-box li:nth-child(3){
    margin-top: 30px;
}
.contact-address-box span{
    font-size: 18px;
    position: absolute;
    color: #919191;
    top: 0;
    left: 0;
}


/*team-part*/
.team-part .row{
    margin: 30px 0;
}
.team-part .team-photo{
    margin: 10px auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.team-part .team-photo .team-photo-box{
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.team-part .team-photo img{
    width: 100%;
}
.team-part .team-photo .team-info{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top:100%;
    background-color: #1c60a3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    text-align: left;
}
.team-part .team-photo:hover .team-info{
    top:0
}
.team-part .team-info h2{
    font-size: 26px;
    font-weight: 600;
    padding-top: 20px;
}
.team-part .team-info h3{
    font-size: 18px;
    margin: 15px 0;
}
.team-part .team-info p{
    text-align: left;
    font-size: 14px;
}
@media all and (max-width: 767px){
    .team-part .team-photo img,
    .team-part .team-photo .team-info{
        max-width: 300px;
    }
    .team-part .team-photo .team-info{
        left: 50%;
        margin-left: -150px;
    }
}